:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #42b45c;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #f0f4f5;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --success: #14687b;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --background-color: #366d559e;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--dark);
}

#wrap {
    width: 100%;
    /* background-color: var(--white); */
}

.section_title {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.section_title > .section_title_txt {
    color: #000000;
    border-bottom: 1px solid #cccccc;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar {
    /* position: fixed; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}

.navbar_logo {
    font-size: 2rem;
    color: var(--dark);
}

.navbar_logo > i {
    color: #d49466;
    margin: 0 0.75rem 0 0.5rem;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 32px;
}

.navbar_menu > li {
    font-size: 1.5rem;
    padding: 8px 12px;
}

.navbar_menu > li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_toggleBtn {
    cursor: pointer;
    display: none;
    padding: 8px 12px;
    color: #d49466;
    font-size: 24px;
}

.navbar_toggleBtn:hover {
    color: var(--dark);
}

.main_section {
    position: relative;
}

.main_section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg,rgba(112,93,80,.8) 0,rgba(112,93,80,.8) 90%),url(./img/header_img.jpg) 50% no-repeat;
    background-size: cover;
    z-index: -1;
}

.main_section > .main_txt_wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8.5rem 2rem 4rem;
    
}

.main_section > .main_txt_wrap > .main_txt {
    text-align: center;
    color: var(--white);
}

.main_txt > h1 {
    font-size: 4rem;
    font-weight: 400;
}

.main_txt > hr {
    width: 3.25rem;
    height: 0;
    margin: 1.5rem auto;
    border: none;
    border-top: 0.2rem solid #f4623a;
    opacity: 1;
}

.main_txt > p {
    margin: 0 auto 2rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: hsla(0, 0%, 100%, .75);
    line-height: 1.5;
}

.main_txt > div {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    background-color: #f4623a;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    line-height: 1.5;
    cursor: pointer;
}

.main_txt > div:hover {
    background-color: #dc775b;
    color: var(--yellow);
}

.about {
    display: block;
}

.about > .about_wrap {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    
}

.about_contents {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about_contents > .about_contents_all {
    margin-bottom: 2rem;
    width: 33.3%;
}

.about_contents > .about_contents_all > .about_contents_wrap {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: 0.8;
}

.about_contents > .about_contents_all > .about_contents_wrap > .about_contents_img {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.about_txt_title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.about_txt_value {
    font-weight: 400;
    font-size: 1rem;
}

.skills {
    background-color: rgba(110, 80, 45, 0.4);
}

.skills_contents {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem 2rem 2rem;
    margin: 0 auto;
    /* height: 50rem; */
    
}

.skills_title {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.skills_tech_stack{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f4f5;
    border-radius: 2rem;
    margin-top: 3rem;
}

.skills_tech_stack > .tech_stack_section {
    position: relative;
    width: 20%;
    padding: 1rem;
}

.skills_tech_stack > .tech_stack_section > img {
    width: 75%;
    bottom: 0;
}

.skills_tech_stack > .tech_stack_section > img:hover {
    position: relative;
    bottom: 0.5rem;
    transition: all 10s;
    rotate: 18000deg;
}

.project {
    background-color: #6f42c1;
}

.project_contents {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}

.project_board {
    padding: 3rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 2rem 2rem 2rem 0 rgb(68 68 68 / 20%);
}

.project_title {
    padding-bottom: 0.5rem;
    /* font-family: ; */
    font-weight:400;
    font-size: 2.5rem;
    color: #222;
    text-align: center;
}

.project_period {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
    opacity: 0.8;
}

.project_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project_carousel {
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-right: 3rem;
}

.project_img {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;
}

.project_img_wrapper {
    display: block;
    width: 100%;
    min-width: 100%;
    cursor: pointer;
}

.project_img_wrapper > img {
    display: block;
    width: 97%;
    margin: 0 auto;
}

.project_nav {
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.project_prev {
    display: inline-block;
    margin: 0 1rem;
    width: 1rem;
    cursor: pointer;
}

/* .project_prev:hover {
    font-size: 1.25rem;
    transition: all 1s;
} */

.project_page {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    color: #444;
}

.project_next {
    display: inline-block;
    margin: 0 1rem;
    width: 1rem;
    cursor: pointer;
}

/* .project_next:hover {
    font-size: 1.25rem;
    transition: all 1s;
} */

.project_descriptions {
    width: calc(50% - 3rem);
}

.porject_main_description {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 1rem;
}

.project_red {
    color: #ed3770;
}

.project_description {
    margin-bottom: 1rem;
}

.project_showBtn {
    display: table;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #222;
    border-radius: 0.4rem;
    color: var(--light);
    cursor: pointer;
}

.project_label::before {
    content: "✔";
    display: inline;
    padding-right: 0.5rem;
}

.project_label {
    display: inline-block;
    vertical-align: top;
    width: 8.4rem;
    font-weight: 900;
    font-size: 1rem;
}

.project_value {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 8.4rem);
    font-weight: 400;
    font-size: 1rem;
}

.pageUpBtn {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    opacity: 0.5;
}

.pageUpBtn > img {
    width: 100%;
}

.footer {
    height: 11rem;
    padding-top: 3rem;
    background-color: #222;
    text-align: center;
}

.footer_icons {
    margin-bottom: 1rem;
}

.footer_icons_wrapper {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    margin: 0 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--light);
}

.footer_icons_wrapper > img {
    width: 100%;
}

.footer_copyright {
    font-weight: 400;
    font-size: 0.9rem;
    color: #f5f5f5;
    text-align: center;
}


@media screen and (min-width: 597px) and (max-width: 990px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        text-align: center;
        width: 100%;
        margin-top: 2px;
        border: solid 1px rgba(203, 197, 197, 0.5);
    }

    .navbar_toggleBtn {
        display: block;
        position: absolute;
        right: 12px;
        top: 6px;
    }

    .navbar_menu.on {
        display: flex;
    }

    .about_contents > .about_contents_all {
        margin-bottom: 2rem;
        width: 50%;
    }

    .project_carousel {
        width: 100%;
    }

    .project_descriptions {
        width: calc(100% - 3rem);
    }

    .project_info {
        display: block;
    }
}

@media screen and (max-width: 596px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        text-align: center;
        width: 100%;
        margin-top: 0.25rem;
        border: solid 1px rgba(203, 197, 197, 0.5);
    }

    .navbar_toggleBtn {
        display: block;
        position: absolute;
        right: 12px;
        top: 6px;
    }

    .navbar_menu.on {
        display: flex;
    }

    .main_txt > h1 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    .about_contents > .about_contents_all {
        margin-bottom: 2rem;
        width: 100%;
    }

    .skills_tech_stack > .tech_stack_section > img{
        width: 80%;
    }

    .project_carousel {
        width: 100%;
    }

    .project_descriptions {
        width: calc(100% - 3rem);
    }

    .project_info {
        display: block;
    }
}